@import "../partials/imports";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: Roboto Mono;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: none;
  width: 100%;
}
button {
  font-weight: 400 !important;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}

.container {
  width: 1000px;
  margin: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.stickyNav {
  background: #fff;
  box-shadow: 0 0 5px $gray;
  .nav_links {
    li {
      a {
        color: $gray;
      }
    }
  }
}

// the nav
nav {
  padding: 10px 0;
  @include flexAround();
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.541);
  background: rgba(255, 255, 255, 0.288);
  backdrop-filter: blur(20px);
  transition: 0.3s;
  .nav_title {
    font-size: 1.2rem;
    a {
      font-family: Fira Code;
      color: $themeColor;
      font-weight: 500;
    }
  }

  .nav_links {
    @include flexBetween();
    li {
      margin: 0 10px;
      list-style: none;
      position: relative;
      padding: 10px 5px;
      overflow: hidden;
      &:hover a {
        color: $themeSecondaryColor;
      }
      a {
        color: #fff;
        transition: 0.3s;
        letter-spacing: 0.5px;
      }
    }
  }

  .bars {
    display: none;
  }

  .nav_active_link {
    color: $themeSecondaryColor !important;
  }
}

// the footer
.footer {
  padding: 20px 0;
  background: $bgColor;
  color: #fff;
  .footer_content_wrapper {
    @include flexBetween();
    .footer_logo {
      width: 70px;
      img {
        width: 100%;
        filter: drop-shadow(1px 1px 3px $gray);
      }
    }

    .copyright {
      span {
        color: #ff1100;
      }
    }

    .footer_links {
      @include flexBetween();
      li {
        list-style: none;
        margin: 0 10px;
        span {
          font-size: 1.4rem;
        }
      }
    }
  }
}

// the loader
.loader {
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: 12;
  transition: 0.3s;
  background: linear-gradient(-45deg, $themeSecondaryColor, $themeColor);
  @include flexCenter();
  .loader_container {
    max-width: 100%;
    margin: auto;

    h2 {
      text-align: center;
      font-size: 2rem;
      font-family: Fira Code;
      color: #fff;
      text-shadow: 0 0 10px #fff;
    }

    .animation-container {
      display: block;
      position: relative;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;

      .lightning-container {
        position: absolute;
        top: 50%;
        left: 0;
        display: flex;
        transform: translateY(-50%);

        .lightning {
          position: absolute;
          display: block;
          height: 12px;
          width: 12px;
          border-radius: 12px;
          transform-origin: 6px 6px;

          animation-name: woosh;
          animation-duration: 1.5s;
          animation-iteration-count: infinite;
          animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
          animation-direction: alternate;

          &.white {
            background-color: white;
            box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
          }

          &.red {
            background-color: #fc7171;
            box-shadow: 0px 50px 50px 0px transparentize(#fc7171, 0.7);
            animation-delay: 0.2s;
          }
        }
      }

      .boom-container {
        position: absolute;
        display: flex;
        width: 80px;
        height: 80px;
        text-align: center;
        align-items: center;
        transform: translateY(-50%);
        left: 200px;
        top: -145px;

        .shape {
          display: inline-block;
          position: relative;
          opacity: 0;
          transform-origin: center center;

          &.triangle {
            width: 0;
            height: 0;
            border-style: solid;
            transform-origin: 50% 80%;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
            margin-left: -15px;
            border-width: 0 2.5px 5px 2.5px;
            border-color: transparent transparent #42e599 transparent;
            animation-name: boom-triangle;

            &.big {
              margin-left: -25px;
              border-width: 0 5px 10px 5px;
              border-color: transparent transparent #fade28 transparent;
              animation-name: boom-triangle-big;
            }
          }

          &.disc {
            width: 8px;
            height: 8px;
            border-radius: 100%;
            background-color: #d15ff4;
            animation-name: boom-disc;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
          }

          &.circle {
            width: 20px;
            height: 20px;
            animation-name: boom-circle;
            animation-duration: 1s;
            animation-timing-function: ease-out;
            animation-iteration-count: infinite;
            border-radius: 100%;
            margin-left: -30px;

            &.white {
              border: 1px solid white;
            }

            &.big {
              width: 40px;
              height: 40px;
              margin-left: 0px;

              &.white {
                border: 2px solid white;
              }
            }
          }

          &:after {
            background-color: rgba(178, 215, 232, 0.2);
          }
        }

        .shape {
          &.triangle,
          &.circle,
          &.circle.big,
          &.disc {
            animation-delay: 0.38s;
            animation-duration: 3s;
          }

          &.circle {
            animation-delay: 0.6s;
          }
        }

        &.second {
          left: 485px;
          top: 155px;
          .shape {
            &.triangle,
            &.circle,
            &.circle.big,
            &.disc {
              animation-delay: 1.9s;
            }
            &.circle {
              animation-delay: 2.15s;
            }
          }
        }
      }
    }

    @keyframes woosh {
      0% {
        width: 12px;
        transform: translate(0px, 0px) rotate(-35deg);
      }
      15% {
        width: 50px;
      }
      30% {
        width: 12px;
        transform: translate(214px, -150px) rotate(-35deg);
      }
      30.1% {
        transform: translate(214px, -150px) rotate(46deg);
      }
      50% {
        width: 110px;
      }
      70% {
        width: 12px;
        transform: translate(500px, 150px) rotate(46deg);
      }
      70.1% {
        transform: translate(500px, 150px) rotate(-37deg);
      }

      85% {
        width: 50px;
      }
      100% {
        width: 12px;
        transform: translate(700px, 0) rotate(-37deg);
      }
    }

    @keyframes boom-circle {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      30% {
        opacity: 0;
        transform: scale(3);
      }
      100% {
      }
    }

    @keyframes boom-triangle-big {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
      }

      40% {
        opacity: 0;
        transform: scale(2.5) translate(50px, -50px) rotate(360deg);
      }
      100% {
      }
    }

    @keyframes boom-triangle {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
      }

      30% {
        opacity: 0;
        transform: scale(3) translate(20px, 40px) rotate(360deg);
      }

      100% {
      }
    }

    @keyframes boom-disc {
      0% {
        opacity: 0;
      }
      5% {
        opacity: 1;
      }
      40% {
        opacity: 0;
        transform: scale(2) translate(-70px, -30px);
      }
      100% {
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
  .container {
    width: 95%;
  }

  nav {
    .bars {
      display: block;
      z-index: 11;
      div {
        width: 35px;
        height: 2px;
        border-radius: 1px;
        margin: 5px 0;
        background: $gray;
        transition: 0.3s;
      }
    }

    .nav_links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      max-width: 100%;
      align-items: flex-start;
      background: rgba(255, 255, 255, 0.952);
      box-shadow: 0 0 5px $gray;
      transition: 0.3s;
      transform: translate(100%);
      li {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
        border-bottom: 2px solid $gray;
        transition: 0.3s;
        &:first-child {
          border-top: 2px solid $gray;
        }
        a {
          color: $gray;
        }
      }
    }

    .nav-active {
      transform: translate(0);
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }

  .footer {
    .footer_content_wrapper {
      justify-content: center;
      flex-direction: column;
      gap: 30px 0;
    }
  }
}
