@import "../partials/imports";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: Roboto Mono;
}

body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

.container {
  width: 1000px;
  margin: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.stickyNav {
  background: #fff;
  box-shadow: 0 0 5px #1e1e1e;
  .nav_links {
    li {
      a {
        color: #000;
      }
    }
  }
}

nav {
  padding: 10px 0;
  @include flexAround();
  position: fixed;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.178);
  background: rgba(255, 255, 255, 0.178);
  backdrop-filter: blur(20px);
  transition: 0.3s;
  .nav_title {
    font-size: 1.2rem;
    a {
      font-family: Fira Code;
      color: $themeColor;
      font-weight: 500;
    }
  }

  .nav_links {
    @include flexBetween();
    li {
      margin: 0 10px;
      list-style: none;
      position: relative;
      padding: 10px 5px;
      overflow: hidden;
      &:hover a {
        color: $themeSecondaryColor;
      }
      a {
        color: #fff;
        transition: 0.3s;
      }
    }
  }

  .bars {
    display: none;
  }

  .nav_active_link {
    color: $themeSecondaryColor !important;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  * {
    cursor: default !important;
  }
  .container {
    width: 95%;
  }

  nav {
    .bars {
      display: block;
      z-index: 11;
      div {
        width: 35px;
        height: 2px;
        border-radius: 1px;
        margin: 5px 0;
        background: #000;
        transition: 0.3s;
      }
    }

    .nav_links {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      flex-direction: column;
      justify-content: center;
      width: 300px;
      max-width: 100%;
      align-items: flex-start;
      background: rgba(255, 255, 255, 0.925);
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.925);
      transition: 0.3s;
      transform: translate(100%);
      li {
        margin: 10px 0;
        padding: 10px 20px;
        width: 100%;
        border-bottom: 2px solid $gray;
        transition: 0.3s;
        &:first-child {
          border-top: 2px solid $gray;
        }
      }
    }

    .nav-active {
      transform: translate(0) !important;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .line2 {
      opacity: 0;
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-5px, -6px);
    }
  }
}
