@mixin flexAround() {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@mixin buttonStyle {
  z-index: 1;
  overflow: hidden;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transition: 0.3s;
    transform: translate(-100%);
    z-index: -1;
  }
  &:hover::after {
    transform: translate(0);
  }
}
