@mixin flexAround() {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
