@import "../partials/imports";

.home_page {
  overflow-x: hidden;
  // * the header
  header {
    min-height: 100vh;
    padding: 100px 0;
    background: url(../../assets/Header.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    position: relative;
    .header_content_wrapper {
      width: 100%;
      @include flexBetween();
      .header_desc {
        width: 400px;
        .tagline {
          color: $themeSecondaryColor;
        }
        h1 {
          font-size: 2rem;
          font-family: Fira Code;
          font-weight: 500;
          background: linear-gradient(
            to right,
            $themeColor 10%,
            $themeSecondaryColor
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
        .bio {
          color: #fff;
          margin-bottom: 20px;
          font-weight: 400;
        }
        .header_buttons {
          @include flexCenter();
          justify-content: flex-start;
          .single_button {
            &:first-child {
              margin-right: 10px;
            }
            button {
              padding: 7px 30px;
              color: #fff;
            }
          }
          .view_work_button {
            button {
              background: $themeColor;
            }
          }
          .hire_me_button {
            button {
              background: $themeSecondaryColor;
            }
          }
        }
      }

      .header_img {
        width: 360px;
        img {
          width: 100%;
          filter: drop-shadow(0 0 2px $themeSecondaryColor);
        }
      }
    }

    .header_svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      img {
        width: 100%;
        fill: #fff;
      }
    }
  }

  // * the about section
  .about_section {
    padding: 50px 0;
    .about_section_content_wrapper {
      @include flexBetween();
      .about_img {
        width: 400px;
        img {
          width: 100%;
          border-radius: 5px;
          box-shadow: 5px 10px 10px $gray;
        }
      }

      .about_desc {
        width: 550px;
        h2 {
          font-size: 1.5rem;
          font-family: Fira Code;
          color: $themeColor;
          margin-bottom: 5px;
          text-shadow: 0.5px 0.5px 3px $themeColor;
        }
        p {
          text-align: justify;
          text-justify: inter-character;
          margin-bottom: 10px;
          color: $gray;
        }
        .about_section_button {
          a {
            button {
              background: linear-gradient(
                45deg,
                $themeColor,
                $themeSecondaryColor
              );
              padding: 7px 20px;
              color: #fff;
            }
          }
        }
      }
    }
  }

  // * the portfolio section
  .portfolio_section {
    padding: 50px 0;
    background: #f6fdff;
    .portfolio_card_container {
      @include flexBetween();
      .single_card {
        width: 320px;
        box-shadow: 1px 2px 10px #8697a8;
        padding: 10px;
        border-radius: 5px;
        margin: 10px 0;
        transition: 0.3s;
        background: #fff;
        overflow: hidden;
        &:hover .card_image {
          transform: scale(1.1);
        }
        .card_image {
          width: 100%;
          height: 200px;
          background-size: cover !important;
          background-position: center !important;
          background-repeat: no-repeat !important;
          margin: auto;
          margin-bottom: 10px;
          border-radius: 5px;
          transition: 0.3s;
          transform-origin: bottom;
        }
        .card_desc {
          h2 {
            font-size: 1.5rem;
            color: $themeColor;
            font-family: Fira Code;
          }
          .card_buttons {
            margin-top: 10px;
            @include flexCenter();
            justify-content: flex-start;
            .single_button {
              &:first-child {
                margin-right: 10px;
                button {
                  background: #000;
                  color: #fff;
                }
              }
              button {
                padding: 0 30px;
                background: $themeSecondaryColor;
                color: #fff;
                @include flexCenter();
                span {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .home_page {
    header {
      .header_content_wrapper {
        .header_desc {
          width: 300px;
        }

        .header_img {
          width: 300px;
        }
      }
    }

    .about_section {
      .about_section_content_wrapper {
        flex-direction: column;
        justify-content: center;
        .about_img {
          width: 300px;
          margin-bottom: 20px;
        }
        .about_desc {
          width: 100%;
        }
      }
    }

    .portfolio_section {
      .portfolio_card_container {
        .single_card {
          width: 340px;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .home_page {
    header {
      .header_content_wrapper {
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        .header_desc {
          width: 100%;
          max-width: 400px;
          margin: auto;
          margin-bottom: 30px;
        }

        .header_img {
          width: 100%;
          max-width: 300px;
          margin: auto;
        }
      }
    }

    .about_section {
      .about_section_content_wrapper {
        justify-content: center;
        align-items: stretch;
        flex-direction: column;
        .about_img {
          width: 100%;
          max-width: 300px;
          margin: auto;
          margin-bottom: 20px;
        }
        .about_desc {
          width: 100%;
          max-width: 500px;
          margin: auto;
          p {
            text-align: left;
          }
        }
      }
    }

    .portfolio_section {
      .portfolio_card_container {
        flex-direction: column;
        justify-content: center;
        .single_card {
          width: 100%;
          margin: 10px 0;
          max-width: 340px;
        }
      }
    }
  }
}
