@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Code:300,regular,500,600,700);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  font-family: Roboto Mono;
  font-weight: 500;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

button {
  font-weight: 400 !important;
}

.container {
  width: 1000px;
  margin: auto;
}

.no-scroll {
  overflow-y: hidden;
}

.stickyNav {
  background: #fff;
  -webkit-box-shadow: 0 0 5px #8697a879;
          box-shadow: 0 0 5px #8697a879;
}

.stickyNav .nav_links li a {
  color: #5a5a5a;
}

.home_page {
  overflow-x: hidden;
}

.home_page section {
  overflow: hidden;
}

.home_page header {
  min-height: 100vh;
  padding: 100px 0;
  background: url(../../assets/Header.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.home_page header .header_content_wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_page header .header_content_wrapper .header_desc {
  width: 400px;
}

.home_page header .header_content_wrapper .header_desc .tagline {
  color: #00b7ff;
  font-weight: 400;
}

.home_page header .header_content_wrapper .header_desc h1 {
  font-size: 2rem;
  font-family: Fira Code;
  font-weight: 400;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #b762e8), to(#00b7ff));
  background: linear-gradient(to right, #b762e8 10%, #00b7ff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home_page header .header_content_wrapper .header_desc .bio {
  color: #fff;
  margin-bottom: 20px;
  font-weight: 400;
}

.home_page header .header_content_wrapper .header_desc .header_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .single_button:first-child {
  margin-right: 10px;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .single_button button {
  padding: 7px 30px;
  color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
  overflow: hidden;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .single_button button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  z-index: -1;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .single_button button:hover::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.home_page header .header_content_wrapper .header_desc .header_buttons .view_work_button button {
  background: #b762e8;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .view_work_button button:hover {
  color: #b762e8;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .hire_me_button button {
  background: #00b7ff;
}

.home_page header .header_content_wrapper .header_desc .header_buttons .hire_me_button button:hover {
  color: #00b7ff;
}

.home_page header .header_content_wrapper .header_img {
  width: 360px;
}

.home_page header .header_content_wrapper .header_img img {
  width: 100%;
}

.home_page header .header_svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.home_page header .header_svg img {
  width: 100%;
  fill: #fff;
}

.home_page .about_section {
  padding: 50px 0;
}

.home_page .about_section .about_section_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_page .about_section .about_section_content_wrapper .about_img {
  width: 400px;
}

.home_page .about_section .about_section_content_wrapper .about_img img {
  width: 100%;
  border-radius: 5px;
  -webkit-box-shadow: 3px 5px 10px #2e2e2e;
          box-shadow: 3px 5px 10px #2e2e2e;
}

.home_page .about_section .about_section_content_wrapper .about_desc {
  width: 550px;
}

.home_page .about_section .about_section_content_wrapper .about_desc h2 {
  font-size: 1.5rem;
  color: #00b7ff;
  margin-bottom: 5px;
}

.home_page .about_section .about_section_content_wrapper .about_desc p {
  text-align: justify;
  text-justify: revert;
  margin-bottom: 10px;
  color: #5a5a5a;
}

.home_page .about_section .about_section_content_wrapper .about_desc .about_section_button a button {
  background: linear-gradient(45deg, #b762e8, #00b7ff);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 7px 20px;
  color: #fff;
  z-index: 1;
  overflow: hidden;
}

.home_page .about_section .about_section_content_wrapper .about_desc .about_section_button a button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate(-100%);
          transform: translate(-100%);
  z-index: -1;
}

.home_page .about_section .about_section_content_wrapper .about_desc .about_section_button a button:hover::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.home_page .about_section .about_section_content_wrapper .about_desc .about_section_button a button::after {
  background: #00b7ff;
}

.home_page .portfolio_section {
  padding: 50px 0;
  background: #f6fdff;
}

.home_page .portfolio_section .portfolio_card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_page .portfolio_section .portfolio_card_container .single_card {
  width: 320px;
  -webkit-box-shadow: 3px 3px 10px 3px #8697a82a;
          box-shadow: 3px 3px 10px 3px #8697a82a;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  overflow: hidden;
}

.home_page .portfolio_section .portfolio_card_container .single_card:hover .card_image {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_image {
  width: 100%;
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  margin: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_desc h2 {
  font-size: 1.3rem;
  color: #b762e8;
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_desc .card_buttons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_desc .card_buttons .single_button:first-child {
  margin-right: 10px;
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_desc .card_buttons .single_button:first-child button {
  background: #000;
  color: #fff;
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_desc .card_buttons .single_button button {
  padding: 0 30px;
  background: #00b7ff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_page .portfolio_section .portfolio_card_container .single_card .card_desc .card_buttons .single_button button span {
  margin-right: 5px;
}

.home_page .services_section {
  padding: 50px 0;
}

.home_page .services_section .services_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.home_page .services_section .services_wrapper .single_service {
  width: 320px;
  -webkit-box-shadow: 3px 3px 10px 3px #8697a82a;
          box-shadow: 3px 3px 10px 3px #8697a82a;
  border-radius: 5px;
  padding: 30px 10px;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.home_page .services_section .services_wrapper .single_service:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.home_page .services_section .services_wrapper .single_service .service_img {
  width: 100px;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10px;
}

.home_page .services_section .services_wrapper .single_service .service_img img {
  width: 100%;
}

.home_page .services_section .services_wrapper .single_service .service_desc {
  text-align: center;
}

.home_page .services_section .services_wrapper .single_service .service_desc h2 {
  font-size: 1.3rem;
  margin-bottom: 5px;
  color: #b762e8;
}

.home_page .contact_section {
  padding: 50px 0;
}

.home_page .contact_section .contact_section_content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home_page .contact_section .contact_section_content_wrapper .contact_form {
  width: 500px;
}

.home_page .contact_section .contact_section_content_wrapper .contact_form .form_title {
  font-size: 1.5rem;
  color: #00b7ff;
  margin-bottom: 10px;
}

.home_page .contact_section .contact_section_content_wrapper .contact_form form .single_field {
  margin: 10px 0;
  width: 100%;
}

.home_page .contact_section .contact_section_content_wrapper .contact_form form .single_field textarea {
  resize: none;
  height: 200px;
}

.home_page .contact_section .contact_section_content_wrapper .contact_form form .single_field button {
  width: 100%;
}

.home_page .contact_section .contact_section_content_wrapper .contact_right_image {
  width: 450px;
}

.home_page .contact_section .contact_section_content_wrapper .contact_right_image img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .home_page header .header_content_wrapper .header_desc {
    width: 300px;
  }
  .home_page header .header_content_wrapper .header_img {
    width: 300px;
  }
  .home_page .about_section .about_section_content_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home_page .about_section .about_section_content_wrapper .about_img {
    width: 300px;
    margin-bottom: 20px;
  }
  .home_page .about_section .about_section_content_wrapper .about_desc {
    width: 100%;
  }
  .home_page .portfolio_section .portfolio_card_container .single_card {
    width: 340px;
  }
  .home_page .services_section .services_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home_page .services_section .services_wrapper .single_service {
    margin: 10px;
  }
  .home_page .contact_section .contact_section_content_wrapper .contact_form {
    width: 350px;
  }
  .home_page .contact_section .contact_section_content_wrapper .contact_form form .single_field textarea {
    height: 100px;
  }
  .home_page .contact_section .contact_section_content_wrapper .contact_right_image {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .home_page header .header_content_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_page header .header_content_wrapper .header_desc {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-bottom: 30px;
  }
  .home_page header .header_content_wrapper .header_img {
    width: 100%;
    max-width: 300px;
    margin: auto;
  }
  .home_page .about_section .about_section_content_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home_page .about_section .about_section_content_wrapper .about_img {
    width: 100%;
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
  }
  .home_page .about_section .about_section_content_wrapper .about_desc {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  .home_page .about_section .about_section_content_wrapper .about_desc p {
    text-align: left;
  }
  .home_page .portfolio_section .portfolio_card_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home_page .portfolio_section .portfolio_card_container .single_card {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
  }
  .home_page .services_section .services_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home_page .services_section .services_wrapper .single_service {
    margin: 10px 0;
    max-width: 100%;
  }
  .home_page .contact_section .contact_section_content_wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home_page .contact_section .contact_section_content_wrapper .contact_form {
    width: 100%;
    max-width: 400px;
  }
  .home_page .contact_section .contact_section_content_wrapper .contact_form form .single_field textarea {
    height: 100px;
  }
  .home_page .contact_section .contact_section_content_wrapper .contact_right_image {
    margin-bottom: 30px;
    width: 100%;
    max-width: 400px;
  }
}
/*# sourceMappingURL=home.css.map */