@import "../partials/imports";

.uses_page {
  padding: 100px 0;
  .uses_page_header {
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    img {
      width: 100%;
      border-radius: 5px;
      box-shadow: 1px 1px 10px 2px #8697a8;
    }
  }

  .uses_desc_container {
    .separate_title {
      font-size: 1.5rem;
      color: $themeColor;
    }
    .sub_title {
      font-size: 1.4rem;
      color: $gray;
      margin: 10px 0;
    }

    p {
      a {
        color: $themeSecondaryColor;
      }
    }

    .single_img {
      width: 100%;
      margin: 10px 0;
      img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 5px 2px #8697a8;
      }
    }

    .extensions_list {
      padding: 10px 0;
      li {
        list-style: inside decimal;
        a {
          color: $themeSecondaryColor;
        }
      }
    }
  }
}
